# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# 系統快取 / 日誌
*.log

# dotenv / secrets
.env
*.env
